.flex{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin: auto;
  height: 75px;
  width: auto;
  background-color:lightblue;
}

.box{
  margin: auto;
  height: 400px;
  width: 800px;
  border: green solid;
  background-color:lightgray;
}

.flex1{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  height: 75px;
  width: auto;
}

.display{
  height: 100px;
  width: auto;
}

.title{
  font-family: "American Typewriter";
  text-align: center;
  font-size: 35px;
}

.information{
  font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
  font-size: 25px;
}

.buttontype{
  position: relative;
  width: 80px;
  height: 35px;
  top: 20px;
  border-radius: 15px;
  border: blue solid 3px;
}

.buttontype2{
  position: relative;
  width: 80px;
  height: 35px;
  top: 7px;
  border-radius: 15px;
  border: red solid 3px;
  margin-left: 10px;
  margin-bottom: 12px;
}

.result{
  font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
  font-size: 25px;
  text-align: center;
}
