<div class="box">
  <div class = title>Welcome to the menu !</div>
  <div class ="flex">
    <button class="buttontype" (click)="addChicken()" >Chicken</button>
    <button class="buttontype" (click)="addTomato()" >Tomato</button>
    <button class="buttontype" (click)="addFish()" >Fish</button>
    <button class="buttontype" (click)="addBeef()" >Beef</button>
    <button class="buttontype" (click)="addLamb()" >Lamb</button>
    <button class="buttontype" (click)="addYam()" >Yam</button>
  </div>
  <div class="display">
    <div class="information">Your Choice :</div>
      <button *ngIf="chooseChicken" class="buttontype2">Chicken</button>
      <button *ngIf="chooseTomato" class="buttontype2">Tomato</button>
      <button *ngIf="chooseFish" class="buttontype2">Fish</button>
      <button *ngIf="chooseBeef" class="buttontype2">Beef</button>
      <button *ngIf="chooseLamb" class="buttontype2">Lamb</button>
      <button *ngIf="chooseYam" class="buttontype2">Yam</button>
  </div>
  <div class ="flex1">
    <button class="buttontype" (click)="cook()" > Cook </button>
    <button class="buttontype" (click)="reset()"> Reset </button>
  </div>
  <div class="result">{{canBeCooked}}</div>
</div>
